aws_region          = "us-east-1"
project_name        = "revogue"
db_name             = "revogue"
db_username         = "revogue_admin"
db_password         = "CHANGE_ME_strong_password_8chars"
db_instance_class   = "db.t3.micro"
allocated_storage   = 20
publicly_accessible = false

# Your IP for local dev access (optional), e.g. ["203.0.113.10/32"]
allowed_cidr_blocks = []
